{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<style>
                                              .select-css {
                                                display: block;
                                                font-size: 16px;
                                                font-family: 'Open Sans', sans-serif;
                                                font-weight: 400;
                                                color: #555;
                                                line-height: 1.3;
                                                padding: .6em 1.4em .5em .8em;
                                                width: 100%;
                                                max-width: 100%;
                                                box-sizing: border-box;
                                                margin: 0;
                                                border: 1px solid #aaa;
                                                border-radius: .25em;
                                                -moz-appearance: none;
                                                -webkit-appearance: none;
                                                appearance: none;
                                                background-color: #fff;
                                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M416 176H96c-26.51 0-48 21.49-48 48v64c0 26.51 21.49 48 48 48h320c26.51 0 48-21.49 48-48v-64c0-26.51-21.49-48-48-48zm-320 80h320v-32H96v32zm320 96H96c-26.51 0-48 21.49-48 48v32c0 26.51 21.49 48 48 48h320c26.51 0 48-21.49 48-48v-32c0-26.51-21.49-48-48-48zm-320 80h320v-32H96v32z'/%3E%3C/svg%3E");
                                                background-repeat: no-repeat;
                                                background-position: right .7em top 50%, 0 0;
                                                background-size: .65em auto, 100%;
                                              }
                                              .select-css::-ms-expand {
                                                display: none;
                                              }
                                              .select-css:hover {
                                                border-color: #888;
                                              }
                                              .select-css:focus {
                                                border-color: #005b9f;
                                                box-shadow: 0 0 0 3px rgba(0, 91, 159, .2);
                                                outline: none;
                                              }
                                              .select-css option {
                                                font-weight:normal;
                                              }
                                            </style>
    <main class="main">
        <div class="page-header text-center" style="background-image: url({% static 'assets/images/page-header-bg.jpg' %})">
            <div class="container">
                <h1 class="page-title">Checkout</h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="checkout">
                <div class="container">

{#                    <a href="{% url 'user_profile:add_address' %}" class="btn btn-outline"><span>Add Address</span></a>#}
{#                    <div class="checkout-discount">#}
{#                        <form action="#">#}
{#                            <input type="text" class="form-control" required id="checkout-discount-input">#}
{#                            <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>#}
{#                        </form>#}
{#                    </div><!-- End .checkout-discount -->#}
{#                    <form id="coupon-form" method="get">#}
{#                        <label for="coupon-code"></label><input type="text" id="coupon-code" required placeholder="Coupon code">#}
{#                        <button type="submit">Apply</button>#}
{#                    </form>#}
                    <form id="payment-form">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <h4 class="checkout-title">Billing Details</h4><!-- End .checkout-title -->
                              <label>Select address:</label>

                                    <div class="row">
                                      {% for address in addresses %}
                                        <div class="col-md-12 mb-3">
                                          <div class="card">
                                            <div class="card-body">
                                              <input class="form-check-input ml-2" type="radio" name="address" id="address" value="{{ address.id }}" id="address{{ forloop.counter }}" {% if forloop.first %}checked{% endif %}>
                                              <label class="form-check-label ml-5" for="address{{ forloop.counter }}">
                                                Use this address
                                              </label>
                                              <h5 class="card-title">{{ address.full_name }}</h5>
                                              <p class="card-text">{{ address.address }},<br> {{ address.city }}, {{ address.state }}, {{ address.zip_code }},<br>{{ address.phone }}, <br>{{ address.email }}</p>
                                                                                            <a href="{% url 'user_profile:edit_address' address.id %}" class="btn btn-primary">Edit</a>

                                              <div class="form-check">
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                      {% endfor %}
                                      <div class="col-md-12">
                                        <a href="{% url 'user_profile:add_address' %}" class="btn btn-outline"><span>Add new address</span></a>
                                      </div>
                                    </div>
                            </div>


                            <aside class="col-lg-6">
                                <div class="summary">
                                    <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
                                    <p id="product_id" style="display: none">{{ product.id }}</p>
                                    <p id="quantity" style="display: none">{{ quantity }}</p>

                                    <table class="table table-summary">
                                        <thead>
                                            <tr>
                                                <th >Product</th>
                                                <th  style="text-align: center">Quantity</th>
                                                <th>Total</th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td><a href="#">{{ product.name }}</a></td>
                                                <td style="text-align: center" > x {{ quantity }}</td>
                                                <td>${{ total_cost }}</td>


                                            </tr>


{#                                            <tr class="summary-subtotal">#}
{#                                                <td>Subtotal:</td>#}
{#                                                <td></td>#}
{#                                                <td>${{ total_cost }}</td>#}
{#                                            </tr><!-- End .summary-subtotal -->#}
                                        </tbody>
                                    </table>
                                <br>
                                     <h3 class="summary-title">Shipping:</h3>
                                    <table >
                                    <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>
{#                                            {% for shipping_option in form.shipping_options %}#}
{#                                            <tr>#}
{#                                                <td>{{ shipping_option.tag }}</td>#}
{#                                                <td>{{ shipping_option.choice_label }}</td>#}
{##}
{##}
{##}
{#                                            </tr>#}
{#                                         {% endfor %}#}
                                        <input type="radio" name="shipping_options" value="free_shipping" id="standard-shipping" onchange="updateTotalCost({{ total_cost }}); updateData();">
                                        <label for="standard-shipping">Standard Shipping($0.00)</label>
                                        <br>
                                        <input type="radio" name="shipping_options" value="faster_shipping" id="express-shipping" onchange="updateTotalCost({{ total_cost }}); updateData();">
                                        <label for="express-shipping">Express Shipping($100.00)</label>

                                    </tbody>
                                    </table>
                                {% for messege in messeges %}
                                <p>{{ messege }}</p>
                                {% endfor %}
                                <hr>
{#                                <form id="coupon-form" method="get">#}
                                    <label for="coupon-code"></label><input type="text" id="coupon-code"  placeholder="Coupon code">
{#                                    <button style="border-style: none" type="submit" class="btn-md p-1 w-25 btn-primary">Apply</button>#}

{#                                </form>#}
                               {% if active_coupon %}
                                  <input type="button" style="border-style: none" onclick="deleteCoupon(); updateData();" class="btn-md p-1 w-25 btn-primary" value="Delete">
                                {% else %}
                                  <input type="button" style="border-style: none" onclick="applyCoupon(); updateData();" class="btn-md p-1 w-25 btn-primary" value="Apply">
                                {% endif %}

                                <hr>
                                <style>
                                    .coupon {
                                      display: flex;
                                      align-items: center;
                                      justify-content: space-between;
                                      padding: 10px;
                                      background-color: #f0f0f0;
                                      margin-bottom: 10px;
                                    }

                                    .coupon .coupon-code {
                                      font-weight: bold;
                                    }

                                    .coupon .coupon-discount {
                                      color: #ff0000;
                                    }

                                </style>

                                <a class="btn btn-sm btn-info" id="show-coupons-button">Show available coupons</a>

                                    <div id="coupon-popup" style="display: none;">
                                      <!-- Coupon content will be added here dynamically -->
                                    </div>
                                            <hr>
                                <h3 class="summary-title">Summary:</h3>

                                <table class="summary-total" style="width: 100%;">
                                    <tr>
                                    <td colspan="2" style="padding-bottom: 10px;">Sub total:</td>
                                    <td colspan="2" style="padding-bottom: 10px; text-align: right;">${{ total_cost }}</td>
                                  </tr>
                                  <tr>
                                    <td colspan="2" style="padding-bottom: 10px;">Coupon applied:</td>
                                      {% if discount %}
                                    <td colspan="2" style="padding-bottom: 10px; text-align: right; color: green" id="coupon_discount">-${{ discount }}</td>
                                      {% else %}
                                      <td colspan="2" style="padding-bottom: 10px; text-align: right; color: green" id="coupon_discount">-$0.00</td>
                                      {% endif %}

                                  </tr>
                                  <tr>
                                    <td colspan="2" style="padding-bottom: 10px;">Shipping charges:</td>
                                    <td colspan="2" style="padding-bottom: 10px; text-align: right; color: red" id="shipping_charge">+$0.00</td>
                                  </tr>
                                  <tr style="font-size: 16px; font-weight: bold;">
                                    <td colspan="2">Grand Total:</td>
                                    <td colspan="2" style="text-align: right;" id="costtotal">${{ total_cost }}</td>
                                  </tr>
                                </table>



                                <hr>

                                    <div class="accordion-summary" id="accordion-payment">

                                        <h6>Payment Options</h6>

                                            <div id="accordion-payment">
                                                <div class="card">
                                                    <div class="card-header" id="heading-3">
                                                        <h2 class="card-title">
                                                            <label>
                                                                <input type="radio" name="payment_option"  value="cash_on_delivery">
                                                                Cash on delivery
                                                            </label>
                                                        </h2>
                                                    </div><!-- End .card-header -->
                                                </div><!-- End .card -->

                                                <div class="card">
                                                    <div class="card-header" id="heading-4">
                                                        <h2 class="card-title">
                                                            <label>
                                                                <input type="radio" name="payment_option" value="razorpay">
                                                                Razorpay
                                                            </label>
                                                        </h2>
                                                    </div><!-- End .card-header -->
                                                </div><!-- End .card -->
                                            </div><!-- End #accordion-payment -->
                                        <br>
                                    <button type="submit" onclick="(formSubmit())" id="submit-btn" class="btn btn-outline-primary-2 btn-order btn-block">
                                        <span class="btn-text">Place Order</span>
                                        <span class="btn-hover-text">Place Order</span>
                                    </button>
                                </div><!-- End .summary -->
                                </div>
                            </aside>
                        </div><!-- End .row -->
                    </form>
                </div><!-- End .container -->
            </div><!-- End .checkout -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
 function applyCoupon(){
     var coupon_code=document.getElementById('coupon-code').value
     var product_id=document.getElementById('product_id').value
     var quantity=document.getElementById('quantity').value
     console.log("coupon code : ",coupon_code)
     $.ajax({
         url:"{% url 'cart:apply_coupon_buy_now' %}",
         method:"GET",
         data:{
             coupon_code:coupon_code,
             quantity,
             product_id,
         },
         success:(r) =>{
             console.log("coupon is applied")
             $('#costtotal').text("₹"+r.updated_cost.toFixed(2));
             $('#coupon_discount').text("-₹"+r.discount);

         }
     })

 }
 function deleteCoupon(){
     var coupon_code=document.getElementById('coupon-code').value
      var product_id=document.getElementById('product_id').value
     var quantity=document.getElementById('quantity').value

     console.log("coupon code : ",coupon_code)
     $.ajax({
         url:"{% url 'cart:delete_coupon' %}",
         method:"GET",
         data:{
             coupon_code:coupon_code,
             quantity,
             product_id
         },
         success:(r) =>{
             console.log("coupon is deleted")
             console.log("total cost: ",r.updated_cost)
             $('#costtotal').text("₹"+r.updated_cost.toFixed(2));
             $('#coupon_discount').text("-₹"+r.discount);


         }
     })

 }

</script>
    <script>

  function formSubmit() {
    const form = document.getElementById('payment-form');
    var totalCostElement = document.getElementById('costtotal');
    var totalCost = parseFloat(totalCostElement.innerText.replace('$', '')) * 100;
    console.log(totalCost)

    form.addEventListener('submit', (event) => {
      event.preventDefault();
      const paymentMethod = document.querySelector('input[name="payment_option"]:checked').value;
      var product_idElement=document.getElementById('product_id')
        var product_id = product_idElement.textContent.trim();
        var quantityElement = document.getElementById("quantity");
        var quantity = quantityElement.textContent.trim();

      if (paymentMethod === 'cash_on_delivery') {
        console.log('ifff')
                  console.log(product_id,quantity)

        Swal.fire({
				title: 'Order Placed Sucessfully',
				text: "You won't be able to revert this!",
				icon: 'success',
				showCancelButton: false,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'View Order'
			}).then((result) => {
                if(result.isConfirmed){
                     $.ajax({
                     url: "{% url 'cart:buy_now' %}",
                     method: "POST",
                     headers: { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() },
                     data: {
                         'shipping_options': $("[name='shipping_options']:checked").val(),
                        'product_id':product_id,
                        'quantity': quantity,
                         'address': $('#address').val(),
                         'payment_option': 'cash_on_delivery'

                    },
                     success: () => {
                      console.log('success');

                    location.href = '/cart/orders/'
                     },
                   error: () => {
                    console.log('error');
                  }
                   });
                  }

         })

      } else if (paymentMethod === 'razorpay') {
        // show the Razorpay payment interface here
          $.ajax({
              method: "GET",
              url:"/cart/proceed_to_pay_buy_now",
              data: {
                  'shipping_options': $("[name='shipping_options']:checked").val(),
                        'product_id':product_id,
                        'quantity': quantity,
                         'address': $('#address').val(),
                  'payment_option': 'razorpay'
              },
              success:function(response){
        var options = {
          "key": "rzp_test_vu1OqJqod5sIWF",
          "amount": parseInt(response.total_price * 100) ,
          "currency": "INR",
          "name": "TechShopee",
          "description": "Test Transaction",
          "image": "{% static 'assets/images/logo_transparent.png' %}",
          "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
          "prefill": {
            "name": "{{ user.full_name }}",
            "email": "{{ user.email }}",
            "contact": "{{ user.phone_number }}"
          },
          "notes": {
            "address": "Razorpay Corporate Office"
          },
          "theme": {
            "color": "#3399cc"
          },

          handler: function (response) {
            // submit the order details to the server
            $.ajax({
              url: '{% url 'cart:buy_now' %}',
              headers: { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() },
              method: 'POST',
              data: {
                razorpay_payment_id: response.razorpay_payment_id,
                amount: response.amount,
                currency: response.currency,
                'shipping_options': $("[name='shipping_options']:checked").val(),
                        'product_id':product_id,
                        'quantity': quantity,
                         'address': $('#address').val(),
                  'payment_option': 'razorpay'
              },
              success: () => {
                console.log('success');
                Swal.fire(
							'Successfull!',
							'Your order has been placed.',
							'success'
						).then(() =>{
                             location.href = '/cart/orders/'
                })
                {#location.href = '/cart/orders/'#}
              },
              error: () => {
                console.log('error');
              }
            });
          }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
              }
          })
      }
    });
  }
</script>

<script>
$(document).ready(function() {
  $('#show-coupons-button').click(function() {
      console.log('Button clicked');

    // Send an AJAX request to fetch the coupon data
    $.ajax({
      url: '{% url 'cart:get_coupons' %}',  // URL to your view that returns the coupon data
      type: 'GET',
      dataType: 'json',
      success: function(response) {
        // Handle the successful AJAX response
        var coupons = response.coupons;
        var couponContent = '';

        // Generate the HTML for each coupon
        for (var i = 0; i < coupons.length; i++) {
          {#couponContent += '<div class="coupon">' + coupons[i].code + '</div>';#}
          // You can modify the HTML structure to fit your requirements
            couponContent += '<div class="coupon">';
            couponContent += '<span class="coupon-code">' + coupons[i].code + '</span>';
            couponContent += '<span class="coupon-discount">' + coupons[i].discount_value + '</span>';
            couponContent += '</div>';
        }

        // Update the coupon content in the popup
        $('#coupon-popup').html(couponContent);

        // Show the popup
        $('#coupon-popup').show();
      },
      error: function(xhr, status, error) {
        // Handle the AJAX request error
        console.log(error);
      }
    });
  });
});
</script>
    <script>
    function updateTotalCost(total_cost) {
            console.log('hai im workinh')
          var totalCostElement = document.getElementById("shipping_charge");
          var shippingOption = document.querySelector('input[name="shipping_options"]:checked').value;

          if (shippingOption === "free_shipping") {
            totalCostElement.textContent = "+₹" + (0).toFixed(2);
          } else if (shippingOption === "faster_shipping") {
            totalCostElement.textContent = "+₹" + (100).toFixed(2);
          }
        }
    </script>

    <script>
    function updateData() {
        var coupon_code=document.getElementById('coupon-code').value
        var product_idElement=document.getElementById('product_id')
        var product_id = product_idElement.textContent.trim();
        var quantityElement = document.getElementById("quantity");
        var quantity = quantityElement.textContent.trim();
        console.log(quantity,product_id);
  // Make an AJAX request
  $.ajax({
    url: '/cart/proceed_to_pay_buy_now',  // Replace with the URL of your Django endpoint
    type: 'GET',
    data: {
              'shipping_options': $("[name='shipping_options']:checked").val(),
              'coupon_code':coupon_code,
                'product_id':product_id,
                'quantity': quantity,

            },
    dataType: 'json',
    success: function(response) {
        console.log(response)
      // Update your HTML with the received data
      {#$('#result').text(response.data);#}
      $('#costtotal').text("₹"+response.total_price.toFixed(2))
      $('#coupon_discount').text("-₹"+response.discount);// Replace #result with the ID or class of the element you want to update
    },
    error: function(xhr, status, error) {
      console.error('AJAX request failed: ' + status + ', ' + error);
    }
  });
}

// Call the updateData function when changes or clicks happen in your page
$(document).ready(function() {
  // Example 1: On button click
  $('#myButton').click(function() {
    updateData();
  });

  // Example 2: On input field change
  $('#myInput').on('change', function() {
    updateData();
  });

  // You can add more event listeners as needed
});

    </script>

{% endblock content %}