{% extends "base.html" %}
{% load static %}
{% block content %}



<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "homelog:home" %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'products:product_list' product.category.id %}">{{ product.category }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
            </ol>

        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <img id="product-zoom" src="{{ product.image1.url }}" data-zoom-image="{{ product.image1.url }}" alt="product image" style="width: 457px; height: 457px; object-fit: contain;">
                                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                        <i class="icon-arrows"></i>
                                    </a>
                                </figure><!-- End .product-main-image -->
                                <div id="product-zoom-gallery" class="product-image-gallery">
                                    <a class="product-gallery-item active" href="#" data-image="{{ product.image1.url }}" data-zoom-image="{{ product.image1.url }}">
                                        <img src="{{ product.image1.url }}" alt="product side" style="width: 107px; height: 107px; object-fit: contain;">
                                    </a>
                                    <a class="product-gallery-item" href="#" data-image="{{ product.image2.url }}" data-zoom-image="{{ product.image2.url }}">
                                        <img src="{{ product.image2.url }}" alt="product cross" style="width: 107px; height: 107px; object-fit: contain;">
                                    </a>
                                    <a class="product-gallery-item" href="#" data-image="{{ product.image3.url }}" data-zoom-image="{{ product.image3.url }}">
                                        <img src="{{ product.image3.url }}" alt="product with model" style="width: 107px; height: 107px; object-fit: contain;">
                                    </a>
                                    <a class="product-gallery-item" href="#" data-image="{{ product.image4.url }}" data-zoom-image="{{ product.image4.url }}">
                                        <img src="{{ product.image4.url }}" alt="product back" style="width: 107px; height: 107px; object-fit: contain;">
                                    </a>
                                </div>
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->


                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">{{ product.name }}</h1><!-- End .product-title -->

                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                            </div><!-- End .rating-container -->

                            <div class="font-lg">
                                {% if product.selling_price != 0 %}
                                    <del style="font-size: large"><small>${{ product.price }}</small></del>
                                    <br>
                                    <ins style="font-size: xx-large; text-decoration: none">${{ product.selling_price }}</ins>
                                {% else %}
                                    ${{ product.price }}
                                {% endif %}
                            </div><!-- End .product-price -->

                            <div class="product-content">
                                <p>{{ product.description|slice:":50" }} </p>
                            </div><!-- End .product-content -->


                                <div class="details-filter-row details-row-size">
                                    <div class="product-details-quantity">
                                        {% if user.is_authenticated and product.stock_quantity != 0 %}
                                            <form method="post" action="{% url 'cart:add_to_cart' product.id %}" id="add-to-cart-form">

                                                {% csrf_token %}
                                                <input type="number" id="qty" name="quantity" class="form-control" value="1" min="1" max="{{ product.stock_quantity }}" step="1" data-decimals="0" required>
                                                <button type="submit" class="btn-product btn-cart" style="width: auto; height: 20px; border: white; background-color: white; font-size: 14px">Add to Cart</button>
                                                 <div id="stock-alert" class="alert alert-warning" role="alert" style="display: none;"></div>
                                                    <a href="{% url 'cart:add_to_wishlist' product_id=product.id %}" class="btn-product btn-wishlist" title="Add to wishlist"><span>Add to Wishlist</span></a>
                                            </form>
                                            {% elif product.stock_quantity == 0 %}
                                            <p class="out-of-stock">Item is Out of Stock</p>




                                            {% else %}
                                            <a href="{% url 'account:user_signin' %}?next={% url 'cart:add_to_cart' product.id  %}" class="btn-product btn-cart"><span>Add to Cart</span></a>
                                            <div id="stock-alert" class="alert alert-warning" role="alert" style="display: none;"></div>
                                            <a href="{% url 'cart:add_to_wishlist' product_id=product.id %}" class="btn-product btn-wishlist" title="Add to wishlist"><span>Add to Wishlist</span></a>

                                            {% endif %}


                                    </div><!-- End .product-details-quantity -->

                                        <div class="details-action-wrapper">

                                    </div><!-- End .details-action-wrapper -->
                                </div><!-- End .details-filter-row -->


                            </div><!-- End .product-details-action -->

                            <!-- <div class="product-details-footer">
                                <div class="product-cat">
                                    <span>Category:</span>
                                    <a href="#">Women</a>,
                                    <a href="#">Dresses</a>,
                                    <a href="#">Yellow</a>
                                </div>End .product-cat -->

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">Share:</span>
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                </div>
                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->
            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping & Returns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews (2)</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            <h3>Product Information</h3>
                            <p>{{ product.description }} </p>

                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                        <div class="product-desc-content">
                            <h3>Information</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>

                            <h3>Fabric & care</h3>
                            <ul>
                                <li>Faux suede fabric</li>
                                <li>Gold tone metal hoop handles.</li>
                                <li>RI branding</li>
                                <li>Snake print trim interior </li>
                                <li>Adjustable cross body strap</li>
                                <li> Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm</li>
                            </ul>

                            <h3>Size</h3>
                            <p>one size</p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                        <div class="product-desc-content">
                            <h3>Delivery & returns</h3>
                            <p>We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                            We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a></p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                        <div class="reviews">
                            <h3>Reviews (2)</h3>
                            <div class="review">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <h4><a href="#">Samanta J.</a></h4>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                        </div><!-- End .rating-container -->
                                        <span class="review-date">6 days ago</span>
                                    </div><!-- End .col -->
                                    <div class="col">
                                        <h4>Good, perfect size</h4>

                                        <div class="review-content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae voluptas!</p>
                                        </div><!-- End .review-content -->

                                        <div class="review-action">
                                            <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                            <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                        </div><!-- End .review-action -->
                                    </div><!-- End .col-auto -->
                                </div><!-- End .row -->
                            </div><!-- End .review -->

                            <div class="review">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <h4><a href="#">John Doe</a></h4>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                        </div><!-- End .rating-container -->
                                        <span class="review-date">5 days ago</span>
                                    </div><!-- End .col -->
                                    <div class="col">
                                        <h4>Very good</h4>

                                        <div class="review-content">
                                            <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum blanditiis laudantium iste amet. Cum non voluptate eos enim, ab cumque nam, modi, quas iure illum repellendus, blanditiis perspiciatis beatae!</p>
                                        </div><!-- End .review-content -->

                                        <div class="review-action">
                                            <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                            <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                        </div><!-- End .review-action -->
                                    </div><!-- End .col-auto -->
                                </div><!-- End .row -->
                            </div><!-- End .review -->
                        </div><!-- End .reviews -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->
</main>


<script>
  // Get the main image element
  const mainImage = document.querySelector('#product-zoom');

  // Get all the image thumbnails
  const imageThumbnails = document.querySelectorAll('.product-gallery-item img');

  // Add click event listener to each image thumbnail
  imageThumbnails.forEach(thumbnail => {
    thumbnail.addEventListener('click', () => {
      // Remove the active class from all thumbnails
      imageThumbnails.forEach(thumbnail => thumbnail.parentElement.classList.remove('active'));

      // Add the active class to the clicked thumbnail's parent element
      thumbnail.parentElement.classList.add('active');

      // Set the main image source to the clicked thumbnail's source
      mainImage.src = thumbnail.src;
    });
  });
</script>
<script>
$(document).on('submit', '#add-to-cart-form', function(event) {
  event.preventDefault();
  $.ajax({
    url: $(this).attr('action'),
    type: 'POST',
    data: $(this).serialize(),
    success: function(response) {
      Swal.fire({
        title: 'Added to Cart',
        text: '{{ product.name }} has been added to your cart.',
        icon: 'success',
        showCancelButton: true,
        confirmButtonText: 'View Cart',
        cancelButtonText: 'Continue Shopping'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = '{% url "cart:cart_detail" %}';
        }

        else {
            location.reload()
        }
      });
    },
    error: function(xhr, errmsg, err) {
      console.log(xhr.status + ': ' + xhr.responseText);
    }
  });
});
</script>
{% csrf_token %}
<script>
$(document).on('click', '.btn-wishlist', function(event) {
    event.preventDefault();
    var product_id = $(this).data('product-id');
    $.ajax({
        url: '{% url "cart:add_to_wishlist" product.id %}',
        method: 'POST',
        data: {'product_id': product_id, csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(response) {
    if (response.status === 'success') {
        Swal.fire({
            title: 'Added to Wishlist',
            text: response.message,
            icon: 'success',
            showCancelButton: true,
            confirmButtonText: 'View Wishlist',
            cancelButtonText: 'Continue Shopping'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '{% url "cart:wishlist_detail" %}';
            } else {
                location.reload()
            }
        });
    } else {
        Swal.fire({
            title: 'Error',
            text: response.message,
            icon: 'error'
        });
    }
},

        error: function(xhr, errmsg, err) {
            console.log(xhr.status + ': ' + xhr.responseText);
        }
    });
});

</script>










{% endblock %}